#textdomain wesnoth-CB

#define CB_DATAPATH
data/add-ons/Cold_Blood#enddef

#define CB_LOADPATH
~add-ons/Cold_Blood#enddef

[textdomain]
	name="wesnoth-CB"
	path={CB_DATAPATH}/translations
[/textdomain]

[textdomain]
    name="wesnoth-Wexlfu"
#ifhave ./Wexlfu/loader.cfg
    path={CB_DATAPATH}/Wexlfu/translations
#endif
#ifhave ~add-ons/Wexlfu
    path="data/add-ons/Wexlfu/translations"
#endif
[/textdomain]

[campaign]
	id=Cold_Blood
	name= _ "Cold Blood"
	abbrev= _ "CoBl"
	define=CAMPAIGN_COLD_BLOOD

	icon=units/saurians/soothsayer/soothsayer.png
	image=portraits/saurians/augur.png

	start_year="556 YW"
	end_year="556 YW"

	first_scenario=Banditry
[/campaign]

#ifdef CAMPAIGN_COLD_BLOOD
#define LD path
{{CB_LOADPATH}/{path}}#enddef

{./wexlfu.cfg}

[binary_path]
    path={CB_DATAPATH}/
[/binary_path]

{./utils}
{./maps}
{./scenarios}
#endif

#ifdef EDITOR
{./wexlfu.cfg}
#endif
